@import url(reset.css);
@font-face {
  font-family: Quicksand;
  src: url("../fonts/Quicksand-Light.ttf");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: Quicksand;
  src: url("../fonts/Quicksand-Bold.ttf");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: Quicksand;
  src: url("../fonts/Quicksand-Regular.ttf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: Dosis;
  src: url("../fonts/Dosis-Light.ttf");
  font-weight: 300;
  font-style: normal; }
.header {
  max-width: 100%; }
  .header__navigation {
    max-width: 100%;
    height: 4.6875vw;
    padding: 0 10%;
    display: grid;
    grid-template-columns: 10% 63.5% 5% 21.5%;
    grid-template-rows: 15% 15% 40% 15% 15%;
    align-content: center;
    font-family: Quicksand;
    font-weight: 300;
    line-height: 3.3vw;
    background: linear-gradient(90deg, #fff 70%, #000 30%); }
  .header__list-m {
    display: none; }
  .header__list {
    position: absolute;
    right: 12vw;
    top: 1vw; }
    .header__list a {
      color: #fff;
      text-decoration: none; }
  .header__logo {
    grid-column: 1/2;
    grid-row: 2/5;
    text-align: center;
    font-size: 1.8vw;
    color: #111;
    border: 1px solid #f34739;
    border-radius: 15% 0% 15% 15%/30% 0 30% 30%; }
  .header__social-networks {
    display: grid;
    grid-template-columns: 70% 7.5% 7.5% 7.5% 7.5%;
    text-align: center;
    grid-column: 2/3;
    grid-row: 3/4; }
  .header__facebook {
    grid-column: 2/3;
    cursor: pointer; }
    .header__facebook img {
      width: 30%; }
  .header__instagram {
    cursor: pointer; }
    .header__instagram img {
      width: 45%; }
  .header__twitter {
    cursor: pointer; }
    .header__twitter img {
      width: 55%; }
  .header__linkedin {
    cursor: pointer; }
    .header__linkedin img {
      width: 45%; }
  .header__menu-icon {
    grid-column: 3/4;
    grid-row: 3/4;
    background-image: url("../images/button.png");
    background-repeat: no-repeat;
    background-position: 70% 55%;
    background-size: 30%;
    cursor: pointer; }
  .header__menu {
    grid-column: 4/5;
    grid-row: 2/3;
    color: #fff;
    font-size: 1.4vw; }
  .header__main {
    background-image: url("../images/header-image.png");
    background-size: 110%;
    display: grid;
    grid-template-rows: 30% 5% 2.5% 12.5% 10% 10% 15% 10%;
    justify-content: center;
    height: 39vw; }
  .header__headline-1 {
    grid-row: 2/3;
    font-family: Dosis;
    font-weight: 300;
    font-style: normal;
    font-size: 2vw;
    text-align: center;
    color: #fff;
    overflow: hidden;
    position: relative;
    white-space: nowrap; }
  .header__headline-1:before {
    content: "";
    display: inline-block;
    position: relative;
    top: -1px;
    width: 50%;
    height: 1px;
    vertical-align: middle;
    background: #b7b0ad;
    left: -10px;
    margin-left: -50%; }
  .header__headline-1:after {
    content: "";
    display: inline-block;
    position: relative;
    top: -1px;
    width: 50%;
    height: 1px;
    vertical-align: middle;
    background: #b7b0ad;
    left: 10px;
    margin-right: -50%; }
  .header__headline-2 {
    grid-row: 4/5;
    font-family: Quicksand;
    font-weight: 700;
    font-style: normal;
    font-size: 5vw;
    color: #fff; }
  .header__button {
    grid-row: 6/7;
    text-align: center; }
  .header__btn {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 30px;
    color: #fff;
    font-family: Quicksand;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2vw;
    padding: 2% 7%;
    cursor: pointer; }
  .header__anchor {
    background-image: url("../images/slider.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 7%;
    grid-row: 8/9;
    cursor: pointer; }

.progress {
  max-width: 100%;
  display: grid;
  grid-template: 60% 20%/repeat(3, 25%);
  justify-content: space-around;
  justify-items: center;
  align-items: end;
  padding: 3.5% 7.619047619%;
  height: 25vw; }
  .progress__projects {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center; }
  .progress__first {
    width: 15vw;
    height: 15vw; }
    .progress__first circle {
      stroke-width: 2px;
      fill: transparent; }
  .progress__gray {
    stroke: #e6e4e4; }
  .progress__red {
    stroke: #f34739;
    stroke-dasharray: 150;
    stroke-dashoffset: -50; }
  .progress__number-1 {
    position: relative;
    top: 10vw;
    font-family: Quicksand;
    font-weight: 700;
    font-size: 5vw;
    color: #f34739; }
  .progress__caption-1 {
    position: relative;
    top: 10vw;
    font-family: Quicksand;
    font-weight: 400;
    font-size: 1.3vw;
    color: #454545; }
  .progress__clients {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center; }
  .progress__second {
    width: 15vw;
    height: 15vw; }
    .progress__second circle {
      stroke-width: 2px;
      fill: transparent; }
  .progress__green {
    stroke: #009989;
    stroke-dasharray: 100, 150;
    stroke-dashoffset: -50; }
  .progress__number-2 {
    position: relative;
    top: 10vw;
    font-family: Quicksand;
    font-weight: 700;
    font-size: 5vw;
    color: #009989; }
  .progress__caption-2 {
    position: relative;
    top: 10vw;
    font-family: Quicksand;
    font-weight: 400;
    font-size: 1.3vw;
    color: #454545; }
  .progress__months {
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: center; }
  .progress__third {
    width: 15vw;
    height: 15vw; }
    .progress__third circle {
      stroke-width: 2px;
      fill: transparent; }
  .progress__black {
    stroke: #152b3c;
    stroke-dasharray: 200;
    stroke-dashoffset: -50; }
  .progress__number-3 {
    position: relative;
    top: 10vw;
    font-family: Quicksand;
    font-weight: 700;
    font-size: 5vw;
    color: #152b3c; }
  .progress__caption-3 {
    position: relative;
    top: 10vw;
    font-family: Quicksand;
    font-weight: 400;
    font-size: 1.3vw;
    color: #454545; }
  .progress__text {
    grid-row: 2/3;
    align-items: center;
    text-align: center;
    font-family: Quicksand;
    font-weight: 400;
    font-size: 1.2vw;
    color: #454545;
    padding: 0 15%; }

.team {
  max-width: 100%; }
  .team__bg {
    background: url("../images/team-image.png");
    background-size: 100%;
    height: 8.7vw;
    padding: 5% 20%;
    text-align: center;
    margin-bottom: 5%; }
  .team__table {
    border: 2px solid #f9fdfc;
    padding: 4% 0; }
  .team__headline-1-1 {
    color: white;
    font-family: Quicksand;
    font-weight: 300;
    font-size: 1.3vw;
    overflow: hidden;
    position: relative;
    white-space: nowrap; }
  .team__headline-1-1:before {
    content: "";
    display: inline-block;
    position: relative;
    top: -1px;
    width: 50%;
    height: 1px;
    vertical-align: middle;
    background: #b7b0ad;
    width: 10%;
    left: -10px;
    margin-left: -50%; }
  .team__headline-1-1:after {
    content: "";
    display: inline-block;
    position: relative;
    top: -1px;
    width: 50%;
    height: 1px;
    vertical-align: middle;
    background: #b7b0ad;
    width: 10%;
    left: 10px;
    margin-right: -50%; }
  .team__headline-2-1 {
    color: white;
    font-family: Quicksand;
    font-weight: 700;
    font-size: 4vw; }
  .team__main {
    display: grid;
    grid-template: repeat(4, 25%)/50% 50%;
    padding: 0 12%;
    height: 76vw;
    margin: 2% 0; }
  .team__photo-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    max-width: 100%;
    background: url("../images/team-image-1.png");
    background-size: 100%;
    height: 19vw; }
  .team__photo-table-1 {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    height: 16.75vw;
    border-left: 2px solid #fff;
    margin: 3% 0 3% 3%; }
  .team__about-1 {
    grid-column: 2/3;
    grid-row: 1/2;
    border-right: 2px solid #000;
    margin: 3% 3% 3% 0;
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    text-align: center;
    padding: 5% 20%;
    height: 13vw; }
  .team__headline-1-2 {
    grid-row: 2/3;
    font-family: Quicksand;
    font-weight: 400;
    font-size: 3vw;
    color: #111111; }
  .team__headline-2-2 {
    grid-row: 3/4;
    display: inline-block;
    font-family: Quicksand;
    font-weight: 400;
    font-size: 1.2vw;
    color: #111111;
    border-bottom: 2px solid #f34739;
    padding-bottom: 3%; }
  .team__headline-3-2 {
    grid-row: 5/6;
    font-family: Quicksand;
    font-weight: 400;
    font-size: 1.2vw;
    color: #454545;
    padding: 0 10%; }
  .team__triangle-1 {
    position: relative;
    top: 7vw;
    left: 34.95vw;
    width: 0;
    height: 0;
    border-top: 2vw solid transparent;
    border-right: 1.8vw solid white;
    border-bottom: 2vw solid transparent; }
  .team__about-2 {
    grid-column: 1/2;
    grid-row: 2/3;
    border-left: 2px solid #000;
    margin: 3% 0 3% 3%;
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    text-align: center;
    padding: 5% 20%;
    height: 13vw; }
  .team__triangle-2 {
    position: relative;
    top: 7vw;
    right: 0.1vw;
    width: 0;
    height: 0;
    border-top: 2vw solid transparent;
    border-left: 1.8vw solid white;
    border-bottom: 2vw solid transparent; }
  .team__photo-2 {
    grid-column: 2/3;
    grid-row: 2/3;
    max-width: 100%;
    background: url("../images/team-image-2.png");
    background-size: 100%;
    height: 19vw; }
  .team__photo-table-2 {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    height: 16.75vw;
    border-right: 2px solid #fff;
    margin: 3% 3% 3% 0; }
  .team__photo-3 {
    grid-column: 1/2;
    grid-row: 3/4;
    max-width: 100%;
    background: url("../images/team-image-3.png");
    background-size: 100%;
    height: 19vw; }
  .team__photo-table-1 {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    height: 16.75vw;
    border-left: 2px solid #fff;
    margin: 3% 0 3% 3%; }
  .team__about-3 {
    grid-column: 2/3;
    grid-row: 3/4;
    border-right: 2px solid #000;
    margin: 3% 3% 3% 0;
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    text-align: center;
    padding: 5% 20%;
    height: 13vw; }
  .team__about-4 {
    grid-column: 1/2;
    grid-row: 4/5;
    border-left: 2px solid #000;
    margin: 3% 0 3% 3%;
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    text-align: center;
    padding: 5% 20%;
    height: 13vw; }
  .team__triangle-2 {
    position: relative;
    top: 7vw;
    right: 0.1vw;
    width: 0;
    height: 0;
    border-top: 2vw solid transparent;
    border-left: 1.8vw solid white;
    border-bottom: 2vw solid transparent; }
  .team__photo-4 {
    grid-column: 2/3;
    grid-row: 4/5;
    max-width: 100%;
    background: url("../images/team-image-4.png");
    background-size: 100%;
    height: 19vw; }
  .team__photo-table-4 {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    height: 16.75vw;
    border-right: 2px solid #fff;
    margin: 3% 3% 3% 0; }

.portfolio {
  max-width: 100%; }
  .portfolio__bg {
    background: url("../images/portfolio-bg.png");
    background-size: 100%;
    height: 8vw;
    padding: 5% 20%;
    text-align: center; }
  .portfolio__table {
    border: 2px solid #f9fdfc;
    padding: 3% 0; }
  .portfolio__headline-1 {
    color: white;
    font-family: Quicksand;
    font-weight: 300;
    font-size: 1.3vw;
    overflow: hidden;
    position: relative;
    white-space: nowrap; }
  .portfolio__headline-1:before {
    content: "";
    display: inline-block;
    position: relative;
    top: -1px;
    width: 50%;
    height: 1px;
    vertical-align: middle;
    background: #b7b0ad;
    width: 4%;
    left: -10px;
    margin-left: -50%; }
  .portfolio__headline-1:after {
    content: "";
    display: inline-block;
    position: relative;
    top: -1px;
    width: 50%;
    height: 1px;
    vertical-align: middle;
    background: #b7b0ad;
    width: 4%;
    left: 10px;
    margin-right: -50%; }
  .portfolio__headline-2 {
    color: white;
    font-family: Quicksand;
    font-weight: 700;
    font-size: 4vw; }
  .portfolio__images {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0; }
  .portfolio__image-1 {
    background: url("../images/portfolio-image-1.png") no-repeat;
    height: 14vw;
    text-align: center;
    background-size: cover;
    filter: grayscale(100%);
    display: grid;
    grid-template-rows: 35% 45% 20%; }
  .portfolio__image-1:hover {
    filter: none; }
  .portfolio__image-2 {
    background: url("../images/portfolio-image-2.png") no-repeat;
    height: 14vw;
    text-align: center;
    background-size: cover;
    filter: grayscale(100%);
    display: grid;
    grid-template-rows: 35% 45% 20%; }
  .portfolio__image-2:hover {
    filter: none; }
  .portfolio__image-3 {
    background: url("../images/portfolio-image-3.png") no-repeat;
    height: 14vw;
    text-align: center;
    background-size: cover;
    filter: grayscale(100%);
    display: grid;
    grid-template-rows: 35% 45% 20%; }
  .portfolio__image-3:hover {
    filter: none; }
  .portfolio__image-4 {
    background: url("../images/portfolio-image-4.png") no-repeat;
    height: 14vw;
    text-align: center;
    background-size: cover;
    filter: grayscale(100%);
    display: grid;
    grid-template-rows: 35% 45% 20%; }
  .portfolio__image-4:hover {
    filter: none; }
  .portfolio__image-5 {
    background: url("../images/portfolio-image-5.png") no-repeat;
    height: 14vw;
    text-align: center;
    background-size: cover;
    filter: grayscale(100%);
    display: grid;
    grid-template-rows: 35% 45% 20%; }
  .portfolio__image-5:hover {
    filter: none; }
  .portfolio__image-6 {
    background: url("../images/portfolio-image-6.png") no-repeat;
    height: 14vw;
    text-align: center;
    background-size: cover;
    filter: grayscale(100%);
    display: grid;
    grid-template-rows: 35% 45% 20%; }
  .portfolio__image-6:hover {
    filter: none; }
  .portfolio__image-7 {
    background: url("../images/portfolio-image-7.png") no-repeat;
    height: 14vw;
    text-align: center;
    background-size: cover;
    filter: grayscale(100%);
    display: grid;
    grid-template-rows: 35% 45% 20%; }
  .portfolio__image-7:hover {
    filter: none; }
  .portfolio__image-8 {
    background: url("../images/portfolio-image-8.png") no-repeat;
    height: 14vw;
    text-align: center;
    background-size: cover;
    filter: grayscale(100%);
    display: grid;
    grid-template-rows: 35% 45% 20%; }
  .portfolio__image-8:hover {
    filter: none; }
  .portfolio__image-9 {
    background: url("../images/portfolio-image-9.png") no-repeat;
    height: 14vw;
    text-align: center;
    background-size: cover;
    filter: grayscale(100%);
    display: grid;
    grid-template-rows: 35% 45% 20%; }
  .portfolio__image-9:hover {
    filter: none; }
  .portfolio__image-10 {
    background: url("../images/portfolio-image-10.png") no-repeat;
    height: 14vw;
    text-align: center;
    background-size: cover;
    filter: grayscale(100%);
    display: grid;
    grid-template-rows: 35% 45% 20%; }
  .portfolio__image-10:hover {
    filter: none; }
  .portfolio__image-11 {
    background: url("../images/portfolio-image-11.png") no-repeat;
    height: 14vw;
    text-align: center;
    background-size: cover;
    filter: grayscale(100%);
    display: grid;
    grid-template-rows: 35% 45% 20%; }
  .portfolio__image-11:hover {
    filter: none; }
  .portfolio__image-12 {
    background: url("../images/portfolio-image-12.png") no-repeat;
    height: 14vw;
    text-align: center;
    background-size: cover;
    filter: grayscale(100%);
    display: grid;
    grid-template-rows: 35% 45% 20%; }
  .portfolio__image-12:hover {
    filter: none; }
  .portfolio__image-13 {
    background: url("../images/portfolio-image-13.png") no-repeat;
    height: 14vw;
    text-align: center;
    background-size: cover;
    filter: grayscale(100%);
    display: grid;
    grid-template-rows: 35% 45% 20%; }
  .portfolio__image-13:hover {
    filter: none; }
  .portfolio__image-14 {
    background: url("../images/portfolio-image-14.png") no-repeat;
    height: 14vw;
    text-align: center;
    background-size: cover;
    filter: grayscale(100%);
    display: grid;
    grid-template-rows: 35% 45% 20%; }
  .portfolio__image-14:hover {
    filter: none; }
  .portfolio__image-15 {
    background: url("../images/portfolio-image-15.png") no-repeat;
    height: 14vw;
    text-align: center;
    background-size: cover;
    filter: grayscale(100%);
    display: grid;
    grid-template-rows: 35% 45% 20%; }
  .portfolio__image-15:hover {
    filter: none; }
  .portfolio__image-16 {
    background: url("../images/portfolio-image-16.png") no-repeat;
    height: 14vw;
    text-align: center;
    background-size: cover;
    filter: grayscale(100%);
    display: grid;
    grid-template-rows: 35% 45% 20%; }
  .portfolio__image-16:hover {
    filter: none; }
  .portfolio__image-17 {
    background: url("../images/portfolio-image-17.png") no-repeat;
    height: 14vw;
    text-align: center;
    background-size: cover;
    filter: grayscale(100%);
    display: grid;
    grid-template-rows: 35% 45% 20%; }
  .portfolio__image-17:hover {
    filter: none; }
  .portfolio__image-18 {
    background: url("../images/portfolio-image-18.png") no-repeat;
    height: 14vw;
    text-align: center;
    background-size: cover;
    filter: grayscale(100%);
    display: grid;
    grid-template-rows: 35% 45% 20%; }
  .portfolio__image-18:hover {
    filter: none; }
  .portfolio__image-19 {
    background: url("../images/portfolio-image-19.png") no-repeat;
    height: 14vw;
    text-align: center;
    background-size: cover;
    filter: grayscale(100%);
    display: grid;
    grid-template-rows: 35% 45% 20%; }
  .portfolio__image-19:hover {
    filter: none; }
  .portfolio__image-20 {
    background: url("../images/portfolio-image-20.png") no-repeat;
    height: 14vw;
    text-align: center;
    background-size: cover;
    filter: grayscale(100%);
    display: grid;
    grid-template-rows: 35% 45% 20%; }
  .portfolio__image-20:hover {
    filter: none; }
  .portfolio__image-21 {
    background: url("../images/portfolio-image-21.png") no-repeat;
    height: 14vw;
    text-align: center;
    background-size: cover;
    filter: grayscale(100%);
    display: grid;
    grid-template-rows: 35% 45% 20%; }
  .portfolio__image-21:hover {
    filter: none; }
  .portfolio__caption {
    width: 100%;
    height: 100%;
    opacity: 0;
    grid-row: 2/3; }
    .portfolio__caption img {
      max-width: 50%; }
    .portfolio__caption p {
      opacity: 1;
      color: #000;
      text-align: center;
      font-size: 1.2vw;
      font-family: Quicksand;
      font-weight: 400; }
    .portfolio__caption p:before {
      content: "";
      display: inline-block;
      position: relative;
      top: -1px;
      width: 50%;
      height: 1px;
      vertical-align: middle;
      background: #b7b0ad;
      width: 5%;
      left: -10px;
      margin-left: -50%;
      background: #000; }
    .portfolio__caption p:after {
      content: "";
      display: inline-block;
      position: relative;
      top: -1px;
      width: 50%;
      height: 1px;
      vertical-align: middle;
      background: #b7b0ad;
      width: 5%;
      left: 10px;
      margin-right: -50%;
      background: #000; }
  .portfolio__caption:hover {
    opacity: 1; }

.brands {
  max-width: 100%; }
  .brands__bg {
    background: url("../images/brands-bg.png");
    background-size: 100%;
    height: 8vw;
    padding: 5% 20%;
    text-align: center; }
  .brands__table {
    border: 2px solid #f9fdfc;
    padding: 3.5% 0; }
  .brands__headline-1 {
    color: white;
    font-family: Quicksand;
    font-weight: 300;
    font-size: 1.3vw;
    overflow: hidden;
    position: relative;
    white-space: nowrap; }
  .brands__headline-1:before {
    content: "";
    display: inline-block;
    position: relative;
    top: -1px;
    width: 50%;
    height: 1px;
    vertical-align: middle;
    background: #b7b0ad;
    width: 4%;
    left: -10px;
    margin-left: -50%; }
  .brands__headline-1:after {
    content: "";
    display: inline-block;
    position: relative;
    top: -1px;
    width: 50%;
    height: 1px;
    vertical-align: middle;
    background: #b7b0ad;
    width: 4%;
    left: 10px;
    margin-right: -50%; }
  .brands__headline-2 {
    color: white;
    font-family: Quicksand;
    font-weight: 700;
    font-size: 4vw; }
  .brands__images {
    display: grid;
    grid-template: repeat(4, 25%)/repeat(7, 1fr);
    justify-content: center;
    text-align: center;
    margin: 4% 15%;
    height: 40vw; }
  .brands__image {
    position: relative;
    border: 1px solid #d8d8d8;
    width: 10vw;
    height: 9.9vw;
    filter: grayscale(100%);
    opacity: 0.2;
    cursor: pointer; }
    .brands__image img {
      max-width: 60%;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }

.footer {
  max-width: 100%;
  background: #101010;
  display: grid;
  grid-template-columns: repeat(3, 20%);
  grid-template-rows: 0;
  justify-content: space-around;
  text-align: center;
  padding: 5% 18%; }
  .footer__headline {
    display: inline-block;
    color: #fff;
    font-family: Quicksand;
    font-weight: 300;
    font-size: 1.5vw;
    border-bottom: 1px solid #009989;
    margin-bottom: 15%;
    cursor: pointer; }
  .footer__text {
    color: #4a4a4a;
    font-family: Quicksand;
    font-weight: 400;
    font-size: 1.1vw;
    line-height: 1.5; }
  .footer__author {
    width: 100%;
    color: #3a3a3a;
    background: #000;
    text-align: center;
    padding: 1% 0; }

@media screen and (max-width: 480px) {
  .header__navigation {
    background: #fff;
    display: grid;
    grid-template-columns: 17.5% 57.5% 15% 10%;
    grid-template-rows: 28% 10% 34% 10% 20%;
    height: 14vw;
    padding: 0 2%; }
  .header__list {
    display: none; }
  .header__list-m {
    display: grid;
    grid-template: repeat(3, 33%)/repeat(2, 50%);
    position: absolute;
    right: 10vw;
    top: 0.1vw;
    width: 35vw;
    background: #fff; }
    .header__list-m li {
      padding: 3%; }
      .header__list-m li a {
        text-decoration: none; }
  .header__logo {
    grid-column: 1/2;
    font-size: 4vw;
    border-radius: 25% 0% 25% 25%/45% 0 45% 45%;
    padding-top: 10%; }
  .header__social-networks {
    grid-column: 2/3;
    display: none; }
  .header__menu-icon {
    grid-column: 4/5;
    background-image: url("../images/button-m.png");
    background-position: 50% 50%; }
  .header__menu {
    grid-column: 3/4;
    display: none; }
  .header__main {
    grid-template-rows: 29% 7% 3.5% 12.5% 11% 9% 12% 7% 4%;
    justify-content: normal;
    padding: 0 2%;
    background-size: 230%;
    background-position: center;
    height: 85vw; }
  .header__headline-1 {
    font-size: 6vw;
    letter-spacing: 2px; }
  .header__headline-2 {
    text-align: center;
    font-size: 12vw; }
  .header__btn {
    font-size: 3vw;
    padding: 1% 6%; }
  .header__anchor {
    background-size: 4%; }

  .progress {
    display: grid;
    grid-template-columns: 1% 98% 1%;
    grid-template-rows: 25% 8% 25% 8% 25% 8%;
    justify-content: center;
    height: 225vw; }
    .progress__projects {
      grid-column: 2/3;
      grid-row: 1/2;
      padding-bottom: 5%; }
    .progress__first {
      width: 50vw;
      height: 50vw; }
    .progress__number-1 {
      top: 30vw;
      font-size: 15vw; }
    .progress__caption-1 {
      font-size: 4vw;
      top: 33vw; }
    .progress__text-m1 {
      grid-column: 2/3;
      grid-row: 2/3;
      padding: 0 20% 3% 20%;
      font-size: 4vw; }
    .progress__clients {
      grid-column: 2/3;
      grid-row: 3/4;
      padding-bottom: 5%; }
    .progress__second {
      width: 50vw;
      height: 50vw; }
    .progress__number-2 {
      top: 30vw;
      font-size: 15vw; }
    .progress__caption-2 {
      font-size: 4vw;
      top: 33vw; }
    .progress__text-m2 {
      grid-column: 2/3;
      grid-row: 4/5;
      padding: 0 20% 3% 20%;
      font-size: 4vw; }
    .progress__months {
      grid-column: 2/3;
      grid-row: 5/6;
      padding-bottom: 4%; }
    .progress__third {
      width: 50vw;
      height: 50vw; }
    .progress__number-3 {
      top: 30vw;
      font-size: 15vw; }
    .progress__caption-3 {
      font-size: 4vw;
      top: 33vw; }
    .progress__text-m3 {
      grid-column: 2/3;
      grid-row: 6/7;
      padding: 0 20% 3% 20%;
      font-size: 4vw; }

  .team__bg {
    background-size: 240%;
    height: 35vw;
    padding: 3%; }
  .team__table {
    padding: 11% 20%; }
  .team__headline-1-1 {
    font-size: 3vw; }
  .team__headline-2-1 {
    font-size: 10vw; }
  .team__main {
    grid-template-rows: repeat(8, 12.5%);
    height: 430vw;
    padding: 3% 0; }
  .team__about-1 {
    grid-column: 1/3;
    grid-row: 1/2;
    height: 43.5vw;
    margin: 0 3%;
    border-bottom: none;
    border-left: 2px solid #000;
    display: grid;
    grid-template-rows: 10% 20% 20% 10% 20% 20%;
    padding: 5% 8%; }
  .team__photo-1 {
    grid-column: 1/3;
    grid-row: 2/3;
    background-size: 120%;
    background-position: 50% 20%;
    height: 50vw; }
  .team__photo-table-1 {
    border-right: 2px solid #fff;
    border-top: none;
    margin: 0 3%;
    height: 46vw; }
  .team__about-2 {
    grid-column: 1/3;
    grid-row: 3/4;
    height: 43.5vw;
    margin: 0 3%;
    border-bottom: none;
    border-left: 2px solid #000;
    display: grid;
    grid-template-rows: 10% 20% 20% 10% 20% 20%;
    padding: 5% 8%;
    border-right: 2px solid #000;
    margin-top: 3%; }
  .team__photo-2 {
    grid-column: 1/3;
    grid-row: 4/5;
    background-size: 120%;
    background-position: 50% 20%;
    height: 50vw; }
  .team__photo-table-2 {
    border-left: 2px solid #fff;
    border-top: none;
    margin: 0 3%;
    height: 46vw; }
  .team__about-3 {
    grid-column: 1/3;
    grid-row: 5/6;
    height: 43.5vw;
    margin: 0 3%;
    border-bottom: none;
    border-left: 2px solid #000;
    display: grid;
    grid-template-rows: 10% 20% 20% 10% 20% 20%;
    padding: 5% 8%;
    margin-top: 3%;
    height: 40.4vw; }
  .team__photo-3 {
    grid-column: 1/3;
    grid-row: 6/7;
    background-size: 120%;
    background-position: 50% 20%;
    height: 50vw; }
  .team__photo-table-3 {
    border-right: 2px solid #fff;
    border-top: none;
    margin: 0 3%;
    height: 46vw; }
  .team__about-4 {
    grid-column: 1/3;
    grid-row: 7/8;
    height: 43.5vw;
    margin: 0 3%;
    border-bottom: none;
    border-left: 2px solid #000;
    display: grid;
    grid-template-rows: 10% 20% 20% 10% 20% 20%;
    padding: 5% 8%;
    border-right: 2px solid #000;
    margin-top: 3%; }
  .team__photo-4 {
    grid-column: 1/3;
    grid-row: 8/9;
    background-size: 120%;
    background-position: 50% 20%;
    height: 50vw; }
  .team__photo-table-3 {
    border-left: 2px solid #fff;
    border-top: none;
    margin: 0 3%;
    height: 46vw; }
  .team__triangle-m {
    position: relative;
    top: 0.01vw;
    left: 42vw;
    width: 0;
    height: 0;
    border-left: 4vw solid transparent;
    border-top: 4vw solid white;
    border-right: 4vw solid transparent; }
  .team__headline-1-2 {
    grid-row: 2/3;
    font-size: 8vw; }
  .team__headline-2-2 {
    font-size: 3.5vw;
    box-sizing: border-box; }
  .team__headline-3-2 {
    grid-row: 5/6;
    font-size: 4vw;
    line-height: 4vw; }

  .portfolio__bg {
    background-size: 100%;
    height: 35vw;
    padding: 3%; }
  .portfolio__table {
    padding: 11% 5%; }
  .portfolio__headline-1 {
    font-size: 3vw; }
  .portfolio__headline-2 {
    font-size: 10vw; }
  .portfolio__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    height: 240vw; }
  .portfolio__image-1, .portfolio__image-2, .portfolio__image-3, .portfolio__image-4, .portfolio__image-5, .portfolio__image-6, .portfolio__image-7, .portfolio__image-8, .portfolio__image-9, .portfolio__image-10, .portfolio__image-11, .portfolio__image-12, .portfolio__image-13, .portfolio__image-14, .portfolio__image-15, .portfolio__image-16, .portfolio__image-17, .portfolio__image-18, .portfolio__image-19, .portfolio__image-20, .portfolio__image-21 {
    max-width: 100%;
    height: 100%; }
  .portfolio__caption p {
    display: none; }

  .brands__bg {
    background-size: 220%;
    height: 35vw;
    padding: 3%; }
  .brands__table {
    margin-top: 1%;
    padding: 8.5% 5%; }
  .brands__headline-1 {
    font-size: 4vw; }
  .brands__headline-2 {
    font-size: 13vw; }
  .brands__images {
    display: grid;
    grid-template: repeat(7, 1fr)/repeat(4, 25%);
    grid-gap: 0;
    height: 140vw;
    justify-content: normal;
    margin: 0; }
  .brands__image {
    width: 100%;
    height: 100%; }
    .brands__image img {
      max-width: 60%; }

  .footer {
    display: grid;
    grid-template-rows: repeat(3, 33%);
    height: 100vw; }
    .footer__team {
      grid-column: 1/4;
      grid-row: 1/2; }
    .footer__about {
      grid-column: 1/4;
      grid-row: 2/3; }
    .footer__contact {
      grid-column: 1/4;
      grid-row: 3/4; }
    .footer__headline {
      font-size: 5vw;
      padding-bottom: 5%;
      margin-bottom: 5%; }
    .footer__text {
      font-size: 4vw; } }

/*# sourceMappingURL=main.css.map */
